.hamburger{
    display: none;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 10;
}

@media screen and (max-width:768px){
    .hamburger{
        display: block;
    }
}